<router-outlet></router-outlet>

<!-- Language Selector -->
<div class="language-selector-container">
  <div class="language-selector">
    <div class="current-language" 
         pTooltip="{{ getLanguageName(currentLanguage) }}" 
         tooltipPosition="left">
      <img [src]="getCurrentLanguageFlag()" [alt]="getLanguageName(currentLanguage)">
    </div>
    
    <div class="language-options">
      <ng-container *ngFor="let lang of languages">
        @if (lang.code !== currentLanguage) {
          <div class="language-option"
               (click)="changeLanguage(lang.code)"
               [class.active]="currentLanguage === lang.code"
               pTooltip="{{ getLanguageName(lang.code) }}"
               tooltipPosition="left">
            <img [src]="lang.flag" [alt]="getLanguageName(lang.code)">
          </div>
        }
      </ng-container>
    </div>
  </div>
</div>
