<div disableRightClick>
    <app-navbar></app-navbar>

    <app-about></app-about>

    <app-title title="{{ 'nav.experience' | translate }}"></app-title>
    <app-experience></app-experience>

    <app-title title="{{ 'nav.projects' | translate }}"></app-title>
    <app-projects></app-projects>

    <app-title title="{{ 'nav.studies' | translate }}"></app-title>
    <app-studies></app-studies>

    <app-title title="{{ 'nav.stack' | translate }}"></app-title>
    <app-stack></app-stack>

    <app-footer></app-footer>

    <!-- Formas grandes animadas -->
    <div class="large-shapes">
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
        <div class="shape shape-3"></div>
        <div class="shape shape-4"></div>
    </div>

</div>